.message {
    width: 100%;
    min-height: 50px;
    text-align: center;
}

.message--success {
    background-color: lightgreen;
    color: black;
}

.message--error {
    background-color: lightcoral;
    color: black;
}

.btn {
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
}

.btn-gold {
    box-sizing: border-box;
    background-color: rgb(223, 188, 98);
    border: solid 2px goldenrod;
}

.btn-gold:hover {
    font-weight: bold;
}